.form-contanier{
    width: 500px;
    border: 2px solid rgb(4, 50, 7);;
    padding: 20px 10px ;
    border-radius: 10px;
    background-color: fff;
    margin: 5rem auto;
}
.input-box{
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 20px auto;
    display: block;
    padding: 10px 10px;
    outline: none;
}
.btn{
   
    display: block;
    font-size: 20px;
    width: 300px;
    margin: 20px auto;
    background-color: rgb(4, 50, 7);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}